# Backend
backend/tienda.db
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# General
*.pyc
__pycache__/
.env

# Scripts de despliegue con credenciales de PythonAnywhere (NO subir)
deploy_react.py
pa_finish.py
upload_backend.py
upload_dist.py
